:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white);
  color: var(--primary-text-color);
}

/* * |||| effects |||||  */

.list {
  list-style: none;
  text-decoration: none;
  border: none;
  font-style: normal;
  margin: 0;
  padding: 0;
  outline-color: var(--accent-color);
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
}
.section:last-child {
  padding-bottom: 94px;
}

.topic {
  display: none;
}

/* ? ||||| header |||||*/

/* * ||||| header |||||  */

.main-nav {
  display: flex;
  align-items: center;
}

.page-header {
  background-color: var(--primary-white);
  border-bottom: 1px solid #ececec;
}

/* * ||||| logo ||||| */

.logo {
  padding: 25px 0;
  margin-right: 93px;

  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.accent {
  color: var(--accent-color);
}

/* * ||||| nav  |||||| */

.page-site {
  display: flex;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item + .item + .item {
  margin: 0;
}

.site-nav .link {
  display: block;
  padding: 32px 0;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* * |||||| contacts-header ||||||| */

.contacts-header {
  display: flex;
  margin-left: auto;
}

.contacts-header .link {
  padding: 32px 0;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-header .item {
  margin-right: 50px;
}

.contacts-header .item + .item {
  margin: 0;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

/* ? ||||| maim |||||

/* * |||||| heroe  ||||||| */

.heroe {
  background-color: #2f303a;
}

.heroe .block {
  text-align: center;
  padding: 200px;
}

.heroe .block .title {
  margin: auto;
  width: 696px;

  text-transform: uppercase;

  color: var(--primary-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.heroe .block .button {
  min-width: 216px;
  margin-top: 30px;
  padding: 10px 32px;

  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--primary-white);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.heroe .block .button:hover,
.heroe .block .button:focus {
  background-color: #188ce8;
}

/* * |||||| advantages |||||  */

.advantages-list {
  display: flex;
}

.advantages-list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantages-list .item:last-child {
  margin: 0;
}

.advantages-list .title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.advantages-list .info {
  margin-top: 10px;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.7;
}

/* * ||||||| what are we doing |||||||  */

.title-section {
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.title-list {
  display: flex;
}

.title-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.title-list .item:last-child {
  margin: 0;
}

/* * |||||| team |||||||*/

.team-section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.ouer-team {
  display: flex;
}

.team-section .ouer-team .team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white);

  text-align: center;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.team-section .ouer-team .team:last-child {
  margin: 0;
}

.team-section .name-team {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-section .jobe-title {
  margin: 0 0 30px 0;

  color: var(--title-text-color);

  font-size: 16px;
  line-height: 1.18;
}

/* ? ||||| footer ||||| */

.page-footer {
  padding: 60px 0;

  background-color: #2f303a;
}

.page-footer .logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;

  color: var(--primary-white);
}

.block-contacts .item {
  margin-bottom: 9px;
}
.block-contacts .item:last-child {
  margin: 0;
}

.address-footer {
  color: var(--primary-white);

  font-size: 14px;
  line-height: 1.7;
}

.contacts-footer .list {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
}

.contacts-footer .list:hover,
.contacts-footer .list:focus {
  color: var(--accent-color);
}

/*! ||||| Portfolio ||||| */

.nav-filter {
  display: flex;
  justify-content: center;
}

.portfilio-list .nav-filter {
  margin-bottom: 50px;
}

.portfilio-list .nav-filter .item {
  margin-right: 8px;
}

.portfilio-list .nav-filter .item:last-child {
  margin: 0;
}

.nav-filter .button {
  padding: 6px 22px;

  border-radius: 4px;
  border: none;
  cursor: pointer;

  background-color: #f5f4fa;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.nav-filter .button:hover,
.nav-filter .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white);
}

.portfilio-block .item {
  display: flex;
  flex-wrap: wrap;
}

.portfilio-block .block {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  padding-bottom: 20px;

  border: 1px solid #eeeeee;
  border-top: 0;

  background-color: #ffffff;
}

.portfilio-block .block:nth-child(3n) {
  margin-right: 0;
}

.portfilio-block .block:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfilio-block .title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfilio-block .description {
  margin: 0;
  padding-left: 24px;

  color: var(--title-text-color);

  font-size: 16px;
  line-height: 1.9;
}
